*{
    margin: 0px;
    padding: 0px;
}

header{
    font-size: 30px;
    background-color: aqua;
}
.amContent{
    width: 200px;
    font-size: 10px;
    background-color: blueviolet;
    position: relative;
    float: left;
    overflow: hidden;
}
.amContent2{
    width: 175px;
    font-size: 20px;
    background-color: cadetblue;    
    position: relative;
    float: right; overflow: hidden;
}